<form class="col s12" #questionNewForm="ngForm" novalidate>
  <div class="card">
    <div class="card-content">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" class="validate" name="title"
                   [(ngModel)]="question.title" required
                   placeholder="Enter the title for your question">
            <label for="title" class="active">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea class="materialize-textarea"
                      name="description" [(ngModel)]="question.body">
            </textarea>
            <label for="description" class="active">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Enter a comma separated list of the labels"
                   type="text" class="validate"
                   name="labels" [(ngModel)]="question.labels">
            <label for="labels" class="active">Labels</label>
          </div>
        </div>
    </div>
  </div>
  <div class="QuestionActions-container">
    <button class="modal-action waves-effect waves-green btn-flat"
            (click)="cancelDialog()">Cancel</button>
    <button class="modal-action waves-effect waves-green btn-flat"
            (click)="closeDialog()" [disabled]="!questionNewForm.valid">Ok</button>
  </div>
</form>

