.nav-wrapper {
  @media @screen-tablets-landscape {
    padding-left: @space-large;
  }
}

.AppLogo-image {
  height: 64px;
  width: 64px;
}

.NavbarMenu-label {
  display: none;
  @media @screen-tablets-landscape {
    display: inline;
  }
}

.Logout-link {
  display: flex;
  align-items: center;
  height: 55px;

  @media @screen-mobiles-landscape {
    height: 64px;
  }
}

.User-image {
  height: 30px;
  border-radius: 15px;
  margin-right: 15px;

  @media @screen-tablets-portrait {
    margin-right: 0px;
  }
  @media @screen-tablets-landscape {
    margin-right: @space-large;
  }
}

