.nav-wrapper {
  @media @screen-tablets-landscape {
    padding-left: 10px;
  }
}

.AppLogo-image {
  height: 64px;
  width: 64px;
}

.NavbarMenu-label {
  display: none;
  @media @screen-tablets-landscape {
    display: inline;
  }
}

