.nav-wrapper {
  @media @screen-tablets-landscape {
    padding-left: 10px;
  }
}

.AppLogo-image {
  height: 64px;
  width: 64px;
}

.NavbarMenu-label {
  display: none;
  @media @screen-tablets-landscape {
    display: inline;
  }
}

nav ul a {
  padding: 0;

  @media @screen-tablets-portrait {
    padding: 0 15px;
  }
}
