.QuestionDetailsButton-container {
  display: flex;
  justify-content: flex-end;
  & > button:first-child {
    margin-right: 10px;
  }
}

.Comments-container {
  &.isHidden {
    display: none;
  }
}
