.QuestionDetailsButton-container {
  display: flex;
  justify-content: flex-end;
  & > button:first-child {
    margin-right: @space-large;
  }
}

.QuestionTitle-container {
  display: flex;
  align-items: center;
}

.QuestionTitleText-container {
  flex: 1;
  margin-left: @space-small;
}

.QuestionTitleText-label {
  &.isHidden {
    display: none;
  }
}

.QuestionTitleEdit-control {
  &.isHidden {
    display: none;
  }
}

.QuestionTitleEdit-button {
  cursor: pointer;
}

.Comments-container {
  &.isHidden {
    display: none;
  }
}


