<div class="QuestionDetails-container">
  <div class="card">
    <div class="card-content">
      <div class="QuestionTitle-container">
        <question-state [question]="question"></question-state>
        <div class="QuestionTitleText-container">
          <span class="QuestionTitleText-label" [ngClass]="{isHidden: isEditingTitle}">{{question?.title}}</span>
          <content-edit class="QuestionTitleEdit-control"
                        [ngClass]="{isHidden: !isEditingTitle}"
                        (onClose)="finishEditTitle($event)" (onCancel)="cancelEditTitle()"
                        [content]="question?.title"></content-edit>
        </div>
        <div *ngIf="canEditQuestion() && !isEditingTitle" class="QuestionTitleEdit-button" (click)="startEditTitle()">
          <i class="material-icons tooltipped EditItem" data-position="bottom" data-delay="50" data-tooltip="Edit">mode_edit</i>
        </div>
      </div>
      <div class="Question-body markdown-body" [innerHTML]="question?.body | markdown"></div>
    </div>
    <div class="card-action QuestionProperties-container">
      <user [user]="question?.user" tooltipText="Created from"></user>
      <date [date]="question?.created_at" tooltipText="Created on"></date>
      <labels [labels]="question?.labels"></labels>
    </div>
  </div>

  <div *ngIf="isBusy" class="Preloader-container">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="Comments-container" [ngClass]="{isHidden: isBusy}" *ngFor="let comment of comments">
    <comment [comment]="comment"></comment>
  </div>

  <comment-new *ngIf="canCreateNewComment()" [questionNumber]="question?.number" (onNewCommentCreated)="newCommentCreated($event)"></comment-new>

  <div class="QuestionDetailsButton-container">
    <button class="btn deep-orange modal-action waves-effect waves-green"
            *ngIf="canMarkQuestionAsUnanswered()"
            (click)="markQuestionAsUnanswered()">
      Is not answered
    </button>
    <button class="btn light-green modal-action waves-effect waves-green"
            *ngIf="canMarkQuestionAsAnswered()"
            (click)="markQuestionAsAnswered()">
      Is answered
    </button>
    <button class="btn modal-action waves-effect waves-green" (click)="closeDialog($event)">Ok</button>
  </div>
</div>
