.QuestionDetailsButton-container {
  display: flex;
  justify-content: flex-end;
  & > button:first-child {
    margin-right: @space-large;
  }
}

.QuestionTitle-container {
  display: flex;
  align-items: center;
  padding-bottom: @space-normal;
}

.QuestionTitleText-container {
  flex: 1;
  margin-left: @space-small;
}

.QuestionTitleText-label {
}

.QuestionTitleEdit-control {
}

.QuestionTitleEdit-button {
  cursor: pointer;
  align-self: flex-end;
  &.isHidden {
    display: none;
  }
}

.QuestionBody-container {
  display: flex;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding-top: @space-large;
  min-height: 150px;
}

.QuestionBody-content {
  flex: 1;
}

.QuestionBodyEdit-control {
  flex: 1;
}

.Comments-container {
  &.isHidden {
    display: none;
  }
}

.QuestionPropertiesRow-container {
  display: flex;
  margin-bottom: @space-normal;
}

.QuestionDetails-user {
  flex: 1;
}

.QuestionDetails-date {
  flex: 1;
}

.QuestionDetailsIsAnswered-container {
  flex: 1;
}

.QuestionDetailsIsAnswered-label {
  color: black;
}

.QuestionDetailsLabels-container {
  display: flex;
  flex: 1;
}

.QuestionDetails-labels {
  flex: 1;
}

.QuestionLabelsEdit-control {
  flex: 1;
}

.QuestionDetails-labels {

}

.QuestionLabelsEdit-button {
  display: flex;
  cursor: pointer;
  margin-left: @space-small;
  &.isHidden {
    display: none;
  }
}

