.QuestionsList-container {
  flex: 1;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.Question-container {
  width: 100%;

  @media @screen-desktops {
    width: 50%;

    &:nth-child(odd) {
      padding-right: 5px;
    }

    &:nth-child(2n) {
      padding-left: 5px;
    }
  }
}


