<div class="QuestionsList-container">
  <div class="Question-container" *ngFor="let question of questions | async">
    <question (onSelectQuestion)="showQuestionDetails($event)" [question]="question"></question>
  </div>
</div>

<div *ngIf="hasMoreQuestions && !isBusy" class="LoadMoreLink-container">
  <a (click)="fetchMoreQuestions()" class="waves-effect waves-light btn"><i class="material-icons left">cloud_download</i>More questions</a>
</div>

<div *ngIf="isBusy" class="Preloader-container">
  <div class="preloader-wrapper small active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div id="questionDetailsDialog" class="modal">
  <div class="modal-content">
    <question-details [question]="selectedQuestion" [isModal]="true"
                      (onCloseDialog)="closeQuestionDetailsDialog($event)">
    </question-details>
  </div>
</div>

<div id="newQuestionDialog" class="modal">
  <div class="modal-content">
    <question-new (onCloseDialog)="closeNewQuestionDialog()"></question-new>
  </div>
</div>

<div id="deleteLabelDialog" class="modal">
  <div class="modal-content">
    <div class="modal-content">
      <h4>Delete label</h4>
      <p>Do you really want to delete this label?</p>
    </div>
    <div class="DeleteDialogFooter-container modal-footer">
      <button class="btn modal-action waves-effect waves-green lighten-1"
              (click)="closeDialog('deleteLabelDialog', true)">Ok</button>
      <button class="btn modal-action waves-effect waves-green grey lighten-1"
              (click)="closeDialog('deleteLabelDialog', false)">Cancel</button>
    </div>
  </div>
</div>

<div *ngIf="isUserAuthenticated()" class="FabButton-container">
  <a class="btn-floating btn-large waves-effect waves-light red" (click)="showNewQuestionDialog($event)"><i class="material-icons">add</i></a>
</div>


