<div class="QuestionsList-container">
  <div class="Question-container" *ngFor="#question of getQuestions() | async">
    <question (onSelectQuestion)="showQuestionDetails($event)" [question]="question"></question>
  </div>
</div>

<scroll-detect (onScrollTo)="fetchMoreQuestions()"></scroll-detect>

<div *ngIf="isBusy" class="Preloader-container">
  <div class="preloader-wrapper small active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div id="questionDetailsDialog" class="modal modal-fixed-footer">
  <div class="modal-content">
    <question-details [question]="selectedQuestion"></question-details>
  </div>
  <div class="modal-footer">
    <a href="" class="modal-action waves-effect waves-green btn-flat" (click)="closeQuestionDetailsDialog($event)">Ok</a>
  </div>
</div>


