<div class="card">
  <div class="card-content">
    <div class="CommentBody-container">
      <div *ngIf="!isEditingComment" class="Comment-body markdown-body" [innerHTML]="comment.body | markdown"></div>
        <content-edit *ngIf="isEditingComment"
                      class="CommentBodyEdit-control"
                      placeholder="Enter a comment to the question"
                      [multiline]="true"
                      (onClose)="changeComment($event)" (onCancel)="toggleEditComment()"
                      [content]="comment.body"></content-edit>
        <div class="EditComment-button"
             [ngClass]="{isHidden: !canChangeComment() || isEditingComment}"
            (click)="toggleEditComment()">
          <i class="material-icons tooltipped EditItem" data-position="bottom" data-delay="50" data-tooltip="Edit">mode_edit</i>
        </div>
    </div>
  </div>
  <div class="card-action CommentProperties-container">
    <user class="Comment-user" [user]="comment.user" tooltipText="Created from"></user>
    <date class="Comment-date" [date]="comment.created_at" tooltipText="Created on"></date>
    <div *ngIf="canMarkQuestionAsAnswered()" (click)="toggleMarkQuestionAsAnswered()" class="Comment-answer">
      <i class="material-icons tooltipped Comment" [ngClass]="{isAnswer: comment.isCorrectAnswer}"
        data-position="bottom" data-delay="50"
        attr.data-tooltip="{{comment.isCorrectAnswer ? 'Unselected correct answer' : 'Mark as correct answer' }}">offline_pin</i>
    </div>
  </div>
</div>
