.Comment-body {
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
}

.Comment-answer { 
  cursor: pointer;
}

.Comment-correctAnswer {
  color: green;
}
.CommentProperties-container {
  display: flex;
}
