.CommentBody-container {
  display: flex;
}

.Comment-body {
  flex: 1;
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
}

.Comment-answer { 
  cursor: pointer;
}

.CommentProperties-container {
  display: flex;
}

.Comment {
  &.isAnswer {
    color: green;
  }
}

.Comment-user {
  flex: 1;
}

.Comment-date {
  flex: 1;
}

.Comment-answer {
}

.EditComment-button {
  cursor: pointer;
  align-self: flex-end;
  &.isHidden {
    display: none;
  }
}

.CommentBodyEdit-control {
  flex: 1;
}
