/* Colors */
@error-color: #F44336;

/* Common styles */
.input-field input[type=text].ng-invalid {
  border-bottom: 1px solid @error-color !important;
  box-shadow: 0 1px 0 0 @error-color !important;
}

.AppContent-container {
  padding-top: 20px;
}

