/* Colors */
@error-color: #F44336;

/* Screen-Sizes */
@screen-desktop: 993px;

/* Common styles */
.input-field input[type=text].ng-invalid {
  border-bottom: 1px solid @error-color !important;
  box-shadow: 0 1px 0 0 @error-color !important;
}

html, body {
  height: 100%;
}

body {
  min-height: 100%;
}

.AppContent-container {
  height: 100%;
  display: flex;
}

