/* Colors */
@error-color: #F44336;

/* Spaces */
@space-small: 3px;
@space-normal: 5px;
@space-large: 10px;

/* Screen-Sizes */
@screen-desktop: 993px;

@screen-mobiles: ~"(min-width: 360px)";
@screen-small-tablets: ~"(min-width: 600px)";
@screen-desktops: ~"(min-width: 993px)";

/* Common styles */
.input-field input[type=text].ng-invalid {
  border-bottom: 1px solid @error-color !important;
  box-shadow: 0 1px 0 0 @error-color !important;
}

html, body {
  height: 100%;
}

body {
  min-height: 100%;
}

.AppContent-container {
  height: 100%;

  @media @screen-desktops {
    margin-left: 250px;
  }
}

