<div class="row">
  <form class="col s12" #connectForm="ngForm" (ngSubmit)="onSubmit($event)">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" name="user"
                ngControl="user" [(ngModel)]="project.user" required
                placeholder="Enter the name of the Github user">
        <label for="user" class="active" data-error="Please enter the name of a valid Github user">Github username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" name="repository"
                ngControl="repository" [(ngModel)]="project.repository" required
                placeholder="Enter the name of the Github repository">
        <label for="repository" class="active" data-error="Please enter the name of a valid Github repository">Github repository</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button type="submit" class="btn waves-effect waves-light"
          [disabled]="!connectForm.valid">
          Ok<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col s12 progress" *ngIf="isBusy">
    <div class="indeterminate"></div>
  </div>
</div>
