.Question-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.QuestionTitle-label {
  cursor: pointer;
}

.Question-body {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding-top: @space-large;
  overflow: auto;
  max-height: 300px;

  @media @screen-desktops {
   height: 300px;
  }
}

.QuestionProperties-container {
  display: flex;
}

.QuestionComments-container {
  flex: 0 0 50px;
}

.QuestionCommentsCount-text {
  vertical-align: super;
}
