<div class="card">
  <div class="card-content">
    <div class="Question-title">
      <i class="material-icons QuestionState" [ngClass]="{isClosed: isClosed(question), isOpen: !isClosed(question)}">
        {{isClosed(question) ? 'check_circle' : 'help_outline' }}
      </i>
      {{ question.title }}
    </div>
    <div class="Question-body markdown-body" [innerHTML]="question.body | markdown"></div>
  </div>
  <div class="card-action QuestionProperties-container">
    <div class="User-element">
      <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Created from">account_circle</i>
      <span class="User-text">{{question.user.login}}</span>
    </div>
    <div class="Date-element">
      <i class="material-icons">alarm</i>
      <span class="Date-text">{{question.created_at | parsedate}}</span>
    </div>
    <div class="Labels-container">
      <i class="material-icons">class</i>
      <div class="Label-element" *ngFor="#label of question.labels">
        <span [ngStyle]="{'color': '#' + label.color}">{{label.name}}</span>
      </div>
    </div>
  </div>
</div>

