<div class="card">
  <div class="card-content">
    <div class="Question-title">
      <question-state [question]="question"></question-state>
      <span class="QuestionTitle-label" (click)="showDetails(question)">{{ question.title }}</span>
      <div class="QuestionCopyLink-button" (click)="copyLink()">
        <i class="material-icons tooltipped CopyLink-icon"
           data-position="bottom" data-delay="50" data-tooltip="Copy link">
          insert_link
        </i>
      </div>
    </div>
    <div class="Question-body markdown-body" [innerHTML]="question.body | markdown"></div>
  </div>
  <div class="card-action QuestionProperties-container">
    <user class="Question-user" [user]="question.user" tooltipText="Created from"></user>
    <date class="Question-date" [date]="question.created_at" tooltipText="Created on"></date>
    <div class="QuestionComments-container" (click)="showDetails(question)">
      <i class="material-icons tooltipped"
         data-position="bottom" data-delay="50" data-tooltip="Comments">chat_bubble_outline</i>
      <span class="QuestionCommentsCount-text">{{ question.comments }}</span>
    </div>
    <labels class="Question-labels" [labels]="question.labels"></labels>
  </div>
</div>


