<div class="SidebarMenu-container">
  <ul>
    <li id="Sidebar-search">
      <div class="card">
        <input id="Sidebar-searchInput" name="searchInput"
               #searchInput [ngModel]="searchValue"
               (keyup.enter)="onSubmitSearchValue($event, searchInput.value)"/>
        <i id="Sidebar-searchIcon" class="material-icons"
           (click)="onSubmitSearchValue($event, searchInput.value)">search</i>
      </div>
    </li>
    <li *ngIf="isUserAuthenticated()">
      <input type="checkbox" id="onlyMyQuestions" (click)="showOnlyMyQuestions($event.currentTarget.checked)" [checked]="onlyMyQuestions"/>
      <label for="onlyMyQuestions" >Only my questions</label>
    </li>
    <li>
      <hr>
    </li>
    <li>
      <div class="StateFilter-container">
        <input name="state" type="radio" id="state-all" [checked]="state===''" (click)="filterByState('')" />
        <label for="state-all">All</label>
      </div>
      <div class="StateFilter-container">
        <input name="state" type="radio" id="state-open" [checked]="state==='open'" (click)="filterByState('open')" />
        <label for="state-open">Open</label>
      </div>
      <div class="StateFilter-container">
        <input name="state" type="radio" id="state-closed" [checked]="state==='closed'" (click)="filterByState('closed')" />
        <label for="state-closed">Closed</label>
      </div>
    </li>
    <li>
      <hr>
    </li>
    <li *ngFor="let label of labelService.labels, let i=index">
      <hci-label [index]="i"[label]="label" (onSelectionChanged)="updateSearch($event)"></hci-label>
    </li>
  </ul>
</div>
<div class="SidebarProject-container">
  <span class="SidebarProject-label">{{ currentProject.user }} / {{ currentProject.repository }}</span>
</div>
